<header>
  <div class="container">

    <img src="/assets/img/logo.svg" class="logo" alt="company logo" />

    <img src="/assets/icons/hamburger.svg" class="mobile-menu" alt="" />

    <nav>
      <a href="#contracts">
        Contracts <span class="decorator"></span>
      </a>
      <a href="#documents">
        Documents <span class="decorator"></span>
      </a>
      <a href="#payout">
        Payout <span class="decorator"></span>
      </a>
      <a href="#calendar">
        Time <span class="decorator"></span>
      </a>
    </nav>

    <a class="avatar">
      <img src="/assets/img/avatar.png"  alt="user avatar" />
    </a>

  </div>
</header>
