<div class="row">
  <div class="search" (click)="searchInput.focus()">
    <img src="assets/icons/search.svg" alt="">
    <input #searchInput placeholder="Search" type="text" />
  </div>

  <button>
    <img src="assets/icons/filter.svg" alt="">
    Filter
  </button>

  <button class="red">
    <img src="assets/icons/add.svg" alt="">
    New line
  </button>
</div>

<div class="row">
  <div class="input dropdown date">
    Created on: Jan/10/21 - Jan/28/21
  </div>

  <div class="input dropdown">
    Contract type
  </div>

  <div class="input">
    Contractor name
  </div>

  <div class="input dropdown">
    Status
  </div>
</div>