/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  margin:0;
  font-family: Tahoma;
  color: #898989
}

a {
  color: inherit;
  cursor: pointer
}

a:hover {
  text-decoration: none;
}